/*
  Helpful Links

  FlexBox: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox
  CSS Flow of Elements: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Normal_Flow
 */
.square {
  background: #999999;
  border: 1px solid #999;
  /*float: left;*/
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin: 5%;
  padding: 5%;
  text-align: center;
  justify-content: space-evenly;
  width: fit-content;
}


.row {
  display: flex;
  justify-content: space-evenly;
  width: -moz-fit-content;
  width: fit-content;
  /*position: relative;*/
  /*top: 5%;*/
  /*bottom: 5%;*/
  /*left: 5%;*/
  /*right: 5%;*/
}